extends layout

block content
  div(ng-app='theModule' ng-controller='mainCtrl')
    div.alerts-area(ng-show='alerts.length')
      uib-alert(ng-repeat='alert in alerts' type='{{alert.type}}' close='closeAlert($index)')  {{alert.msg}}
      button.close-btn.btn.btn-default(type='button' ng-click='clearAlerts()') clear

    div.log-sources-area
      div
        button.btn.btn-default(type='button' ng-click='editLogSources()') Log Sources

    div.query-area
      div.item
        span Start Time:
        div.input-group.date
          input(type='text' ng-model='query.startTime' data-my-date-picker)
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      div.item
        span End Time:
        div.input-group.date
          input(type='text' ng-model='query.endTime' data-my-date-picker)
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      div.item
        span Log severity:
        select(ng-model='query.prio')
          option(ng-repeat='item in prioList' ng-bind='item' ng-value='item' ng-selected='query.prio==item')
      div.item
        span Category:
        input(type='text' ng-model='query.cat')
      div.item
        span Event:
        input(type='text' ng-model='query.event')
      div.item
        span Action:
        input(type='text' ng-model='query.action')
      div.item
        span Origin IP:
        input(type='text' ng-model='query.ip')
      div.item
        span Max Fetch Count( per source)
        input(type='number' min=0 ng-model='query.num')
      div.item.right
        button.btn.btn-primary(ng-click='search()') Search
      div.item.right
        button.btn.btn-warning(ng-click='resetQuery()') Reset fields
    
    div.table-area
      table.table(ng-table='vm.tableParams' show-filters='true')
        tr(ng-repeat='datum in data')
          td(title="'Name'" sortable="'name'")  {{datum.name}}
          td(title="'Age'" sortable="'age'")  {{datum.age}}

