div.modal-header
  div    
    span.modal-title Modify Log Sources
div.modal-body
  div.log-sources
    div.add-div
      div.log-url
        span Source url: 
        input(type='text' ng-model='url')
      div.log-port
        span Source port: 
        input(type='number' ng-model='port')
      div.add-btn
        button.btn.btn-primary(ng-click='addSource()' ) Add
    div.list-div
      h4 Log Sources:
      ul.list-unstyled
        li(ng-repeat='source in sources track by $index')
          span(ng-bind='source')
          button.close-btn.btn.btn-default(ng-click='removeSource($index)') Remove

div.modal-footer
  button.btn.btn-warning(ng-click='cancel()') Cancel
  button.btn.btn-primary(ng-click='ok()' ) Ok